.el-dialog__body {
  .tablePage {
    .lcode-table {
      .el-table .el-table__cell {
        padding: 4.5px;
        font-size: 12px;

        .lcode-button .el-button {
          font-size: 12px;
        }
      }
      th .cell {
        color: #8f949a;
      }
    }
  }
  .form .formItem {
    .tablePage {
      padding-bottom: 0;
    }
  }
  .el-checkbox-group {
    .el-checkbox {
      margin-right: 20px;
      :first-child {
        margin-left: 5px;
      }
    }
  }
}

.el-table__empty-block {
  width: 100% !important;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

#app {
  overflow: hidden;
  .el-menu {
    background-color: transparent;
    width: 100%;
    overflow-x: hidden;
  }
  .lcode-table {
    justify-content: center;
    .el-pagination.is-background {
      .btn-prev,
      .btn-next {
        background: transparent;
      }
      .el-pager li {
        width: 28px;
        height: 28px;
        border-radius: 6px;
        border: 1px solid #ebf1f5;
        background: #fff;
        font-size: 12px;
        color: #49596c;
        &.is-active {
          background: #3487f4;
          border-color: #3487f4;
          color: #fff;
          font-weight: normal;
        }
      }
      .el-select .el-input__wrapper,
      .el-input .el-input__wrapper {
        height: 28px;
      }
      .el-select .el-input {
        width: 86px;
      }
      .el-pagination__editor.el-input {
        width: 28px;
        .el-input__wrapper {
          padding: 1px 4px;
        }
      }
    }
  }
  .el-date-editor.el-input__wrapper {
    border-radius: 6px;
    border: 1px solid #ebf1f5;
    box-shadow: none;
    height: 32px;
    font-size: 12px;
  }
  .el-date-editor .el-range-input {
    height: 32px;
    line-height: 32px;
    color: #49596c;
    font-size: 12px;
  }

  .el-form-item {
    label,
    .label {
      font-weight: normal;
      font-size: 14px;
      color: var(--el-text-color-regular);
      line-height: 32px;
      height: 32px;
    }
    .required::before {
      font-size: 14px;
      font-family: 苹方-简;
      margin-right: 0;
    }
  }
  .el-dialog {
    .el-select .el-input__wrapper,
    .el-input .el-input__wrapper {
      font-size: 14px;
    }
  }
  .searchForm .label {
    color: #8f949a;
  }

  .el-link {
    font-weight: normal;
    line-height: 16px;
    &:hover {
      text-decoration: none;
    }
  }
  .el-button {
    .el-loading-mask {
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
    }
  }
  .el-button.button {
    height: 32px;
    border-radius: 6px;
    border: 1px solid rgba(52, 135, 244, 0.6);
    font-size: 14px;
    color: #3487f4;
    min-width: 64px;
    font-weight: normal;
    &.el-button--primary {
      color: #fff;
      background: #3487f4;
    }
    &.is-link {
      padding: 0;
      background: transparent;
      color: #3487f4;
      border: none;
      &.el-button--info{
        color: #616B78;
      }
    }
    &.is-disabled {
      opacity: 0.5;
    }
    &.el-button--warning.is-link {
      color: #E6A23C;
    }
    &.el-button--danger.is-link {
      color: #FF4545;
    }
  }
}

.notify-box {
  .el-notification__group {
    width: 100%;
  }
}

.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: none;
}

.tablePage.no-table {
  .body {
    display: none;
  }
}

.viewer-wrap {
  height: 100%;
  position: relative;
  .pdf-mask {
    position: absolute;
    background: #323539;
    right: 0;
    top: 0;
    height: 56px;
    width: 200px;
  }
}

#app .el-table {
  th:first-child .cell,
  td:first-child .cell {
    padding-left: 32px;
  }
  .cell {
    box-sizing: border-box;
    .el-button.button.is-link {
      padding: 0;
      min-width: 0;
    }
  }
  &.stop-table {
    th:first-child .cell,
    td:first-child .cell {
      padding-left: 24px;
    }
  }
}

.el-dialog {
  .el-dialog__body {
    padding: 24px 48px 0 48px;
  }
  .el-dialog__footer {
    padding: 20px 24px;
  }
}

.el-icon-arrow,
.el-icon-download,
.el-icon-add,
.el-icon-import,
.el-icon-stop,
.el-icon-stop-batch {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.el-icon-arrow {
  background-image: url(../assets/img/arrow.png);
  background-position-y: 1px;
}
.el-icon-download {
  background-image: url(../assets/img/download.png);
}
.el-icon-add {
  background-image: url(../assets/img/add.png);
}
.el-icon-import {
  background-image: url(../assets/img/import.png);
}
.el-icon-stop {
  background-image: url(../assets/img/stop.png);
}
.el-icon-stop-batch {
  background-image: url(../assets/img/stop_batch.png);
}

.footer-btn {
  .el-button {
    border-radius: 6px;
  }
}
