/* 只需要重写你需要的即可 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #3487f4
    ),
    'danger': (
      'base': #ff4545
    )
  ),
  $text-color: (
    'primary': #002a3c,
    'regular': #49596c,
    'placeholder': #a1b0bf
  ),
  $border-color: (
    'lighter': #f5f8fa
  ),
  $header: (
    'padding': '0',
    'height': 66px
  ),
  $table: (
    'border': 1px solid #f5f8fa,
    'header-text-color': #002a3c,
    'header-bg-color': #f5f7fa,
    'text-color': #49596c
  ),
  $pagination: (
    'font-color': #49596c,
    'border-radius': 2px
  ),
  $dialog: (
    'title-font-size': 16px,
    'padding-primary': 24px,
    'content-font-size': 14px,
    'border-radius': 8px
  ),
  $drawer: (
    'padding-primary': 16px 24px
  ),
  $transfer: (
    'panel-width': 240px
  ),
  $menu: (
    'active-color': white,
    'text-color': #bfcbd9,
    'bg-color': #f1f4f9,
    'hover-bg-color': none,
    'item-height': 38px,
    'sub-item-height': 36px,
    'horizontal-sub-item-height': 36px,
    'border-color': none,
    'icon-width': 16px,
    'base-level-padding': 16px,
    'level-padding': 24px
  ),
  $button: (
    'font-weight': normal
  ),
  $tabs: (
    'header-height': 36px
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
