$bg: #D5DCE5;

$title: #0D243E;
$label: #424F61;
$tip: #A1B0BF;

$blue: #08979c;
$error: #E94C52;

$borderColor: #E2E9F1;
$border: 1px solid $borderColor;

$splitLineColor: #E2E9F1;

$headerHeight: 48px;
$headerBg: #9ba9b8;

